.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-layout {
    height: 100%;
}

.ant-menu-item {
    height: 50px;
}

.reflection-form {
    text-align: center;
}

.ant-radio-group-large .ant-radio-button-wrapper {
    height: 100%;
}

/*div.ant-card-body {
    display: flex;
    justify-content: center;
    align-content: center;
}*/