@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: transparent;
    text-decoration: underline;
}

.ant-layout {
    background: #f4f3ef;
    height: 100%;
}

header.ant-layout-header {
    border-bottom: 1px;
    background: #f4f3ef;
}

.ant-layout-header h3 {
  background: #f4f3ef;
  padding-left: 10px;
}

.ant-layout-content {
    background: #f4f3ef;
    height: 100%;
    margin: 0px;
    border-top: 1px;
}

.ant-menu-item {
    height: 50px;
}

.reflection-form {
    text-align: center;
}

.ant-radio-group-large .ant-radio-button-wrapper {
    height: 100%;
}

div.ant-card {
    border-radius: 10px;
    background: #ffffff;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.17);
}

/* CONTENT HEADER */

.page-header {
    padding: 0px 75px;
    font-size: 2em;
    color: #625d56;
}

.page-date {
    padding: 0px 75px;
    float: right;
    font-size: 1.2em
}

/* INSIGHT 1 */

.top-activity-badge {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 5px double white;
    background: #FBC658;
    padding: 12.5px;
    text-align: center;
    height: 100px;
    width: 100px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.top-activity-badge .mood-up{
    display: none;
    font-size: 20px;
    padding-top: 10px;
    color: #fefefe;
}

.top-activity-badge img{
    height: 60px;
    width: 60px;
}

.top-activity-badge:hover {
    background: #4EBA64;
    cursor: pointer;
}


.top-activity-badge:hover .mood-up{
    display: inline;
}

.top-activity-badge:hover img{
    display: none;
}


.top-activity-text{
    font-size: 16px;
    padding: 24px 0px 0px;;
}

/* .top-activity-text strong{
    color: #4EBA64;
} */

/* INSIGHT 2 */

.productivity-badge {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 5px double white;
    background: #51cbcf;
    padding: 12.5px;
    text-align: center;
    height: 100px;
    width: 100px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.productivity-badge .streak-up{
    display: none;
    font-size: 20px;
    padding-top: 10px;
    color: #fefefe;
}

.productivity-badge img{
    height: 60px;
    width: 60px;
}

.productivity-badge:hover {
    background: #b917b9;
    cursor: pointer;
}


.productivity-badge:hover .streak-up{
    display: inline;
}

.productivity-badge:hover img{
    display: none;
}


.productivity-text{
    font-size: 16px;
    padding: 24px 0px 0px;;
}
/*
.productivity-text strong{
    color: #51cbcf;
} */

/* INSIGHT 3 */

.weekly-badge {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 5px double white;
    background: #EF8157;
    padding: 12.5px;
    text-align: center;
    height: 100px;
    width: 100px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.weekly-badge .sofdev-up{
    display: none;
    font-size: 20px;
    padding-top: 10px;
    color: #fefefe;
}

.weekly-badge img{
    height: 60px;
    width: 60px;
}

.weekly-badge:hover {
    background: #66615a;
    cursor: pointer;
}


.weekly-badge:hover .sofdev-up{
    display: inline;
}

.weekly-badge:hover img{
    display: none;
}


.weekly-text{
    font-size: 16px;
    padding: 24px 0px 0px;;
}

/* .weekly-text strong{
    color: #EF8157;
} */


/* MOOD DISPLAY  */

.wrapper {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 0px 24px;
    margin-bottom: 14px;
}

.badge-green {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: #4EBA64;
    color: #fefefe;
}

.badge-yellow {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: #FBC658;
    color: #2c2b2b;
}

.badge-red {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: #EF8157;
    color: #fefefe;
}

.mood-comparison {
    padding: 10px 30px;
    font-size: 16px;

}

/* SENTIBOT ON SUBMISSION */

.sentibot-form .robot {
    transform: translate(-20px, 100px);
    width: 20vw;
    height: 20vw;
}

.sentibot-submission {
    text-align: center;
}

.sentibot-submission p {
    font-size: 30px;
}

.sentibot-submission .robot {
    width: 20vw;
    height: 22vw;
}

.ant-card-body .CircularProgressbar {
    width: 100px;
}

.submission-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.submission-badge {
    display: inline-block;
    min-width: 16px;
    padding: 25px;
    border-radius: 50%;
    font-size: 75px;
    text-align: center;
    background: #51cbcf;
    color: #fefefe;
    border: 10px double #fefefe;
}


/* tasks css */
.task-badges {
    padding-bottom: 12px;
}
