.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-layout {
    height: 100%;
}

.ant-menu-item {
    height: 50px;
}

.reflection-form {
    text-align: center;
}

.ant-radio-group-large .ant-radio-button-wrapper {
    height: 100%;
}

/* div.ant-card-body {
    display: flex;
    justify-content: center;
    align-content: center;
} */

.wrapper {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 0px 24px;
    margin-bottom: 14px;
  }
  
.badge-green {
    display: inline-block;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: green;
    color: #fefefe; 
}

.badge-yellow {
    display: inline-block;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: yellow;
    color: #fefefe; 
}

.badge-red {
    display: inline-block;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: red;
    color: #fefefe; 
}

.mood-comparison {
    padding: 10px 30px;
    font-size: 16px;
}