@import "~antd/dist/antd.css";
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div .R {
    display: inline-block;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    text-align: right;

    position: absolute;
    left: 30px;
    top: 14px;
}

div .eflect {
  position: absolute;
  left: 54px;
  top: 14px;
}

/*.logo:not(.logo)  {
  color: "white";
  font-size: "2.1em";
  text-align: "center";
  padding: '15px 0 15px 0';
  border-bottom: '1px solid #a8a6a4'
}*/

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: transparent;
    text-decoration: underline;
}

.ant-layout {
    background: #f4f3ef;
    height: 100%;
}

header.ant-layout-header {
    border-bottom: 1px;
    background: #f4f3ef;
    height: 75px;
    /*margin-bottom: 20px;*/

}

.ant-layout-header h3 {
    background: #f4f3ef;
    padding-left: 10px;
}

.ant-layout-content {
    background: #f4f3ef;
    height: 100%;
    margin-top: 20px;

}

.ant-menu-item {
    height: 50px;
}

.reflection-form {
    text-align: center;
}

.ant-radio-group-large .ant-radio-button-wrapper {
    height: 100%;
}

div.ant-card {
    border-radius: 10px;
    background: #ffffff;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.17);
}


/* CONTENT HEADER */

.page-header {
    padding: 0px 2em;
    font-size: 1.5em;
    color: #625d56;
}

.page-date {
    padding: 0px 2em;
    float: right;
    font-size: 1.2em;
}

.ant-card-head-title {
    font-size: 1.2em;
}



/* MOOD DISPLAY  */

.wrapper {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 0px 24px;
    margin-bottom: 14px;
}

.badge-green {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: #4eba64;
    color: #fefefe;
}

.badge-yellow {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: #fbc658;
    color: #2c2b2b;
}

.badge-red {
    display: inline-block;
    height: 75px;
    width: 75px;
    padding: 15px 15px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background: #ef8157;
    color: #fefefe;
}

.mood-comparison {
    padding: 10px 30px;
    font-size: 16px;
}

/* tasks css */

.ant-card-extra span {
    font-size: 1.0em;
}


/* charts */

div #productivity-chart,
#correlation-chart,
#category-chart,
#insight1,
#insight2,
#insight3,
#insight4 {
    display: flex;
    justify-content: center;
}

div #mood-chart:before {
    display: flex;
    justify-content: center;
}

#chart1 {
    height: 20em;
}
