.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-menu-item:selected {
    background: red;
}



.ant-layout {
    background: #f4f3ef;
    height: 100%;
}

header.ant-layout-header {
    border-bottom: 1px;
    background: #f4f3ef;
}

.ant-layout-header h3 {
  background: #f4f3ef;
  padding-left: 10px;
}

.ant-layout-content {
    background: #f4f3ef;
    height: 100%;
    margin: 0px;
    border-top: 1px;
}

.ant-menu-item {
    height: 50px;
}

.reflection-form {
    text-align: center;
}

.ant-radio-group-large .ant-radio-button-wrapper {
    height: 100%;
}

div.ant-card {
    border-radius: 15px;
    background: #ffffff;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.17);
}