#root {
  height: 100%;
}

.activity-container {
  padding: 0px;
  list-style-type: none;
}

.activity {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.activity-icon {
  /* border: 1px solid #fff; */
  border-radius: 50%;
  border: 5px double white;
  background: #EF8157;
  padding: 1em;
  display: block;
  position: relative;
  margin: 0.5em;
  cursor: pointer;
}

.activity-icon img {
  padding: 0.2em;
  height: 5.5em;
  width: 5.5em;
  transition-duration: 0.2s;
  transform: scale(0.8);
  transform-origin: 50% 50%;
}

:checked + .activity-icon {
  /* border-color: #ddd; */
  background-color: #4EBA64;
  border: 5px double white;
}

:checked + .activity-icon img {
  transform: scale(1.0);
}

.activity .text {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
} 

.activity-icon:hover img {
  transform: scale(1.0)
}


.activity-form {
  text-align: center;
}

/* Submission Card */

.today-activity .activity-badge {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 5px double white;
  background: #FBC658;
  padding: 1.2em;
  margin: 0.2em;
  text-align: center;
  height: 8em;
  width: 8em;
  cursor: pointer;
}

.today-activity .activity-badge img{
  padding: 5px;
  height: 5em;
  width: 5em;
}

.today-activity .activity-date{
  font-size: 1.5em;
}

.last-3-days .activity-badge {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 5px double white;
  background: #FBC658;
  padding: 1.2em;
  margin: 0.2em;
  text-align: center;
  height: 6em;
  width: 6em;
  cursor: pointer;
}

.last-3-days .activity-badge img{
  padding: 5px;
  height: 3em;
  width: 3em;
}

.last-3-days .activity-date{
  font-size: 1.5em;
}


.last-3-days .l3-activity-date{
  font-size: 1em;
}