/*header.ant-layout-header  {
  height: 100px;

}*/

.ant-btn-primary {
  background: #42d0ce;
  border: none;
}

.ant-btn-primary:hover {
  background: #29a3a1;
}

div #login-title .ant-card-head-title {
  font-size: 1.3em;
}

header h2 {
    display: inline-block;
    font-size: 30px;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    text-align: right;
}


.ant-input:focus {
  border-color: #42d0ce;
}

.ant-input:hover {
  border-color: #42d0ce;
}

.ant-checkbox-inner {
  height: 15px;
  width: 15px;
}

.ant-checkbox:hover {
  border-color: #42d0ce;
}

#headline {
  text-align: center;
  color: #66615a;
  font-size: 2em;
  margin-top: 10vh;
  text-decoration: underline;

}