@import '~antd/dist/antd.css';

/* Reflection Form */


.reflection-form .reflection-question {
  font-size: 1.5em;
}

.reflection-form textarea {
  font-size: 1.5em;
  width: 75%;
}

.reflection-form .ant-menu-item {
  height: 4em;
}


.reflection-form .ant-radio-group-large .ant-radio-button-wrapper {
  height: 6em;
  /* width: 8em; */
  border: none;
  border-radius: 0%;
}

.reflection-form .ant-radio-button-wrapper {
  padding: 0;
}

.reflection-form .ant-radio-button-wrapper-checked){
  color: transparent;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.reflection-form .ant-radio-button-wrapper-checked:hover{
  color: transparent;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.reflection-form .ant-menu-item {
}

.sentibot-form .robot {
  transform: translate(3em, 25em);
  /* width: 20vw;
  height: 20vw; */
}

.sentibot-submission, .sentibot-submission-score {
  text-align: center;
}

.sentibot-submission p, .sentibot-submission-score p {
  font-size: 30px;
}

.sentibot-submission .robot {
  width: 20vw;
  height: 22vw;
}

.sentibot-submission-score .robot {
  transform: translate(13em, 0em);
  width: 20vw;
  height: 20vw;
}

.ant-card-body .CircularProgressbar {
  width: 100px;
}

.submission-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submission-badge {
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  background: #51cbcf;
  color: #fefefe;
  border: 10px double #fefefe;
}

