@import '~antd/dist/antd.css';

/* Reflection Form */


.reflection-form .reflection-question {
  font-size: 1.5em;
}

.reflection-form textarea {
  font-size: 1.5em;
  width: 75%;
}

.reflection-form .ant-menu-item {
  height: 4em;
  /* padding: 0 1em; */
}

.reflection-form .ant-radio-group-large .ant-radio-button-wrapper {
  height: 4em;
  /* width: 8em; */
  border: none;
  border-radius: 0%;
}

.reflection-form .ant-radio-group-large .ant-radio-button-wrapper-checked {
  height: 6em;
  /* width: 8em; */
  border: none;
  border-radius: 0%;
}

.reflection-form .ant-radio-button-wrapper {
  padding: 0;
}

.reflection-form .ant-radio-button-wrapper-checked{
  color: transparent;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.reflection-form .ant-radio-button-wrapper-checked .ant-menu-item {
  height: 6em;
}

.reflection-form .ant-radio-button-wrapper-checked:hover{
  color: transparent;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-radio-button-wrapper .ant-radio-button-wrapper-checked:focus-within {

}

.reflection-form .ant-menu-item {
}

.sentibot-form .robot {
  transform: translate(3em, 25em);
  /* width: 20vw;
  height: 20vw; */
}

.sentibot-submission, .sentibot-submission-score {
  text-align: center;
}

.sentibot-submission p, .sentibot-submission-score p {
  font-size: 30px;
}

.sentibot-submission .robot {
  width: 20vw;
  height: 22vw;
}

.sentibot-submission-score .robot {
  transform: translate(0em, 0em);
  height: 20vw;
}

.ant-card-body .CircularProgressbar {
  width: 100px;
}

.submission-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submission-badge-red {
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  background: #ef8157;
  color: #fefefe;
  border: 10px double #fefefe;
}

.submission-badge-yellow {
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  background: #fbc658;
  color: #2c2b2b;
  border: 10px double #fefefe;
}

.submission-badge-green {
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  background: #4eba64;
  color: #fefefe;
  border: 10px double #fefefe;
}

